{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row">
  <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    <h1 class="navbar-brand">Categories</h1>
    <ul class="nav nav-pills flex-column">
      {% for category in categories %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('showCategory', category_name = category.name)}}">
          {{category.name}} <span class="sr-only">(current)</span></a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash">
      {% for message in messages %}
      <div class="row">
        <div class="col">
          <li><strong>{{message}}</strong></li>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    {% if items %}
    <div class="row">
      <div class="col-4">
        <h1>Items</h1>
      </div>
      <div class="col-2">

      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <tbody>
          {% if 'username' in session %}
          <tr>
            <td>
              <button class="btn-outline-success" type=submit>Add</button>
            </td>
          </tr>
          {% endif %}
          {% for item in items %}
          <tr>
            <td>
              <a href = "{{url_for('showItem', category_name = categories[0]['name'], item_name = item.name)}}">
                 {{item.name}}</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h1>{{item[0]['name']}}</h1>
      <div class="row">
        <div class="col">
           <strong>Description:</strong> {{item[0]['description']}}
        </div>
      </div>
      {% if session['user_id'] == item[0]['creator_id'] %}
      <div class="row">
        <div class="col-2">
          <button class="btn-outline-primary" type=submit>Edit</button>
        </div>
        <div class="col-2">
          <button class="btn-outline-danger" type=submit>Delete</button>
        </div>
      </div>
      {% endif %}
      {% endif %}
    </div>
 </main>
</div>
{% endblock %}
