{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row">
  <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    <div class="row">
      <div class="col">
        <h1 class="navbar-brand">Categories</h1>
      </div>
      {% if 'username' in session %}
      <div class="col">
        <a href="{{url_for('newCategory')}}" class="btn btn-outline-success"
           role="button"><i class="fa fa-plus-square" aria-hidden="true"></i> Add</a>
      </div>
      {% endif %}
    </div>
    {% if categories %}
    <ul class="nav nav-pills flex-column">
      {% for category in categories %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('showCategory', category_name = category.name)}}">
          {{category.name}} <span class="sr-only">(current)</span></a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </nav>
  <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash">
      {% for message in messages %}
      <div class="row">
        <div class="col">
          <li><strong>{{message}}</strong></li>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    {% if items %}
    <div class="row">
      <div class="col-4">
        <h1>Items</h1>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <tbody>
          {% if 'username' in session %}
          <tr>
            <td>
              <a href="{{url_for('newItem', category_name = categories[0]['name'])}}"
                 class="btn btn-outline-success" role="button">
                 <i class="fa fa-plus-square" aria-hidden="true"></i> Add</a>
            </td>
          </tr>
          {% endif %}
          {% for item in items %}
          <tr>
            <td>
              <a href = "{{url_for('showItem', category_name = categories[0]['name'], item_name = item.name)}}">
                 {{item.name}}</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    {% if item %}
    <h1>{{item[0]['name']}}</h1>
    <div class="row">
      <div class="col">
        <strong>Description:</strong> {{item[0]['description']}}
      </div>
    </div>
    {% if session['user_id'] == item[0]['creator_id'] %}
    <div class="row">
      <div class="col-2">
        <a href="{{url_for('editItem', category_name = categories[0]['name'], item_name = item[0]['name'])}}"
           class="btn btn-outline-primary" role="button">
          <i class="fa fa-pencil-square" aria-hidden="true"></i> Edit</a>
      </div>
      <div class="col-2">
        <a href="{{url_for('deleteItem', category_name = categories[0]['name'], item_name = item[0]['name'])}}"
           class="btn btn-outline-danger" role="button">
          <i class="fa fa-minus-square" aria-hidden="true"></i> Delete</a>
      </div>
    </div>
    {% endif %}
    {% else %}
    <div class="row">
      <div class="col-4">
        <h1>Items</h1>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <tbody>
          {% if 'username' in session %}
          <tr>
            <td>
              {% if categories %}
              <a href="{{url_for('newItem', category_name = categories[0]['name'])}}"
                 class="btn btn-outline-success" role="button">
                 <i class="fa fa-plus-square" aria-hidden="true"></i> Add</a>
              {% endif %}
            </td>
          </tr>
          {% endif %}
          <tr>
            <td>No items found.</td>
          </tr>
        </tbody>
      </table>
    {% endif %}
    {% endif %}
 </main>
</div>
{% endblock %}
