<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler d-lg-none" type="button"
            data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"
             href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {%if 'username' not in session %}
        <li><a class="btn btn-outline-success my-2 my-sm-0"
               href="{{url_for('showLogin')}}">Login</a></li>
        {% else %}
        <li><a class="btn btn-outline-danger my-2 my-sm-0"
               href="{{url_for('disconnect')}}">Logout</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>
