{% extends "main.html" %}
{% block content %}
<div class="jumbotron">
  <div class="container text-center">
    <h1>Catalog Online</h1>
  </div>
</div>
<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
  <div id="result"></div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <form action="http://localhost:5000/catalog/oauth/internal?state={{STATE}}" method="POST">
        <div class="row">
          <div class="col">
            <label>Username:
              <input type="text" required name="username">
            </label>
            <br>
            <label>Password:
              <input type="password" required name="password">
            </label>
          </div>
          <div class="col">
            <button class="btn-outline-success" type=submit>Log in!</button>
          </div>
        </div>
      </form>
      <div id="signinButton">
        <span class="g-signin"
          data-scope="openid email"
          data-clientid="838685845058-6b28ct388jngcj7vf9k4rl9lavvnod2g.apps.googleusercontent.com"
          data-redirecturi="postmessage"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-callback="signInCallback"
          data-approvalprompt="force">
        </span>
      </div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="flash">
        {% for message in messages %}
        <div class="row">
          <div class="col">
            <li><strong>{{message}}</strong></li>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
    </div>
    <div class="col-3"></div>
  </div>
</main>
<script>
  function signInCallback(json) {
    console.log('inside callback fuction');
    console.log(json);

    authResult = json;
    if (authResult['code']) {
      // Hide the sign-in button now that the user is authorized, for example:
      $('#signinButton').attr('style', 'display: none');
      $('#result').html('One-Time Auth Code:</br>'+ authResult['code'] + '')
      // Send the code to the server
      $.ajax({
        type: 'POST',
          url: '/catalog/oauth/google?state={{STATE}}',
          processData: false,
          data: authResult['code'],
          contentType: 'application/octet-stream; charset=utf-8',
          success: function(result) {
            // Handle or verify the server response if necessary.
            if (result) {
              $('#result').html('Login Successful!</br>' +
                result + '</br>Redirecting...')
                setTimeout(function(){
                  window.location.href = "/catalog";
                });
              } else if (authResult['error']) {
                console.log('There was an error: ' + authResult['error']);
              } else {
                $('#result').html('Failed to make a server-side call. ' +
                  'Check your configuration and console.');
              }
          }
      });
    }
  }
</script>
{% endblock %}
